.content .text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 70%;
    text-align: justify;
}

.content .text .alternative {
    display: flex;
    flex-direction: row;
}

.content .text .alternative img {
    width: 50%;
}